:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --cor-azul: #002F52;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal:'Poppins', sans-serif;;
}


hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
}

.rodape__titulo {
    padding: 1em;
    font-weight: 400;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo {
        text-transform: uppercase;
        color: var(--cinza-claro);
        font-size: 14px;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: var(--cinza);
        margin-left: 0.5em;
    }

    .rodape__titulo {
        font-size: 24px;
    }
} 

@media screen and (min-width: 1728px) {
    .rodape {
        padding: 3em 0;
    }

    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding: 0.5em;
    }
}